body {
  background-color: black;
  margin: 0;
  transition: background 1.5s;
}

h1,
h2 {
  margin: 4px;
}

.nav {
  background: linear-gradient(90deg, black, red, green, blue);
  color: white;
  padding: 4px;
  padding-bottom: 1px;
  text-align: center;
  margin-bottom: 15px;
  font-variant: small-caps;
}

#randomColor,
#displayMsg {
  font-size: 1.5em;
}

.stripe {
  margin: 10px;
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
  justify-content: center;
  max-width: 650px;
  margin: auto;
}
.square {
  border-radius: 6%;
  width: 20%;
  padding-bottom: 20%;
  margin: 1.6%;
  transition: all 0.5s;
  border: 1px solid black;
}

.square:hover {
  cursor: pointer;
  transform: scale(110%);
}

.btn {
  margin-left: 30px;
  font-variant: small-caps;
  height: 100%;
  transition: all 0.1s;
  color: white;
  letter-spacing: 0.1rem;
  text-align: center;
  /*background: transparent;*/
  background: darkred;
  border: 1px solid red;
  padding: 0.25rem 0.5rem;
  border-radius: 10px;
  font-size: 1rem;
  transition: all 0.2s linear;
}
.btn:hover {
  /*background: linear-gradient(90deg, #ec0623, #ff8717);*/
  /*animation: pulse 0.3s;*/
  background: black;
  box-shadow: 0 0 0 0.25em darkred;
  font-size: 1.1rem;
  cursor: pointer;
}
